<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/avatar.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Truong Duc Huy</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">QUẢN LÝ BÁO CÁO</li>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-home"></i>
          <span>Danh sách báo cáo</span>
        </a>
      </li>
      <li class="header">QUẢN LÝ HẠNG MỤC</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-list"></i>
          <span>Danh sách hạng mục</span>
        </a>
      </li>
      <li class="header">QUẢN LÝ TRÌNH CHIẾU</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-slideshare"></i>
          <span>Tạo mới trình chiếu</span>
        </a>
      </li>
      <li class="header">QUẢN LÝ NGƯỜI DÙNG</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Tạo mới người dùng</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
